.App {
  padding: 1em;
  background-color: #e89a50;
}

h1,
h2,
h4,
p {
  margin: 0;
  margin-bottom: 1em;
}

.header {
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0f4040;
  text-align: center;
}

.logo {
  padding: 1.4rem;
}

.articles {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.article-header {
  text-align: center;
  font-family: "lucida";
}

.article,
.single-article {
  border: 1px solid #0f4040;
  margin-bottom: 1.5rem;
  padding: 1em;
  border-radius: 3px;
}

.article-title {
  font-family: Courier;

  font-size: 1.4em;
}

.article-topic {
  font-family: "lucida sans-serif";
  color: #0f4040;

  font-size: 1.4em;
}

.article-author {
  color: #12ba94;
}

/* Media queries */

@media only screen and (min-width: 600px) {
  .article-title,
  .article-topic {
    font-size: 1.6em;
  }
  .article-body {
    font-size: 1.2em;
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article {
    width: 20%;
  }
}

.comment {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

.comment-author .comment-body {
  margin: 0;
  margin-bottom: 0.7em;
}

.comment-author {
  color: #0f4040;
  text-transform: capitalize;
  font-weight: 600;
}

.commment-body {
  color: blue;
  font-size: 1.2em;
  line-height: 1.4em;
}

.date-created,
.comment-votes {
  color: #0f4040;
  text-transform: uppercase;
  font-weight: bold;
}

.comment-details {
  display: flex;
}
.date-created {
  margin-right: 2em;
}

.nav-bar {
  border: 6px solid #dfb695;
  padding: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfb695;
}
#link {
  color: #fafbfc;
  font-weight: 700;
}

#topic-link {
  color: #fafbfc;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 1px #000;
}

#topic-link:hover,
#link:hover {
  color: black;
}

.topic-nav {
  list-style: none;
  border-radius: 1.2em;
  border: 2px solid #dfb695;
  padding: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b8a270;
}

.user-name {
  border: 1px solid black;
  color: #fafbfc;
  font-size: 1.3em;
  background-color: #b8a270;
  border-radius: 0.3em;
  padding: 0.5em;
  text-transform: capitalize;
  font-weight: bold;
}
.article-details {
  margin-top: 2em;
}

.button-inc {
  border: 1px solid green;
  background-color: rgb(17, 157, 17);
  padding: 0.4em;
  border-radius: 1em;
  color: black;
  margin-left: 0.4em;
}
.button-inc:active {
  background-color: #000;
  color: white;
}

.err {
  background-color: rgb(255, 0, 0);
  color: #fafbfc;
  padding: 0.7em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin: 5em;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notify:not(:empty) {
  background-color: rgb(72, 112, 11);
  color: #fafbfc;
  padding: 0.7em;
  border: 2px solid #12ba94;
  border-radius: 0.3em;
  width: 180px;
}

.input-field {
  border: 2px solid rgb(67, 53, 15);
  background-color: #e89a50;
  color: #fafbfc;
  padding: 0.5em;
  border-radius: 0.5em;
}

.select-dropdown,
.order-dropdown {
  background-color: #000;
  color: aliceblue;
  border-radius: 0.3rem;
}

.query {
  display: flex;
}

.order {
  margin-left: 8px;
}

.user-list {
  border: 1px solid #e89a50;
  padding: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.user {
  /* background-color: #127b7f; */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: #dfb695;
  border: 10px solid #fafbfc;
  border-radius: 0.3rem;
  padding: 0.5em;
  margin: 1em;
  width: 200px;
}

#avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

#user-login {
  font-weight: bold;
  width: 5rem;
  margin: 3rem;
}

#green-tick {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
